* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    
}

body {
    font-family: "lexend";

}

.header-section1-div1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 0.5rem 2rem;
    background-color: rgba(5, 66, 44, 1);
}
.header-section1-div1> p{
    color: rgba(255, 255, 255, 0.521);
    font-size: 1.0rem;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}
.header-section1-div1> img{
    width: 3rem;
    align-items: center;
}
.header-section1-div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0rem;
    justify-content: space-between;
    
}
.header-section1-div2-form{
    position: absolute;
    top: 4rem;
    border-top: 2px solid rgba(0, 0, 0, 0.226);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
.header-section1-div2-div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
.header-section1-div2-div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    padding-right: 1rem;
}
.header-section1-div2-div2>div{
    position: relative;
    width: 24px;
    height: 24px;
    border-left: 2px solid rgba(0, 0, 0, 0.226);
    padding-left: 20px;
}
/* .header-section1-div2-div2>div>img{
    position: absolute;
    top: 0;
    left: 0;
} */
.header-section1-div2-div2>p{
 padding-right: 20px;
}
.header-section1-div2-div2-img1{
    position: absolute;
    top: 0;
    left: 20;
}
.header-section1-div2-div2-img2{
    position: absolute;
    top: 10;
    left: 20;
}
.header-section1-div2-form>input{
    width: 70%;
    height: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.051);
    border-radius: 5rem;
}
.header-section1-div2-form>button{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 0 ;
    background-color: rgba(23, 175, 38, 1);
}
.header-section1-div2-div3{
    display: none;
}


@media screen and (min-width: 768px){
    .header-section1-div2-div1-img1{
        display: none;
    }
    .header-section1-div2-form{
        position: static;
        border-top: none;
        width: 40%;
    }
    .header-section1-div2-div3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 2px solid rgba(0, 0, 0, 0.051);
        padding: 1rem 8vw ;
        font-weight: 400;
    }

    .header-section1-div2-div3>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:0.2rem;
    }
}